.customTooltip {
  position: relative;
  display: inline-block;
}

.customTooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 100%; 
  margin-left: 0px;
  opacity: 0;
  transition: opacity 0.3s;
}

.customTooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.customTooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
