/* Add a black background color to the top navigation */
.topnav {
  background-color: #090057;
  overflow: hidden;
  position: relative;
 
  }

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
color: white;
text-align: center;
padding: 12px;
text-decoration: none; 
font-size: 17px;
font-weight: bold;
border-radius: 4px;
}

.topnav span {
  float: left;
color: white;
text-align: center;
padding: 12px;
text-decoration: none; 
font-size: 17px;
font-weight: bold;

border-radius: 4px;
}

.selectCountry {

  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 4px; 
  position: absolute;
  margin: auto;
  right: 15px;
  top: 0;
  bottom: 0;
  height: 35px;
 }
 
