.mainDiv {
  margin: 10px;
  height: 200px;
  width: 400px;
  padding: 10px;
  position: relative;
    padding-bottom: 200px;
 
}

.nameDiv {
  color: white;
  font-size: 17px;
}

.descDiv {
  color: white;
}

.descText {
  color: white;
  font-size: 14px;
}

.mainDiv a {
  color: #ddd;
}

.linkDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  color: white;
  position: absolute;
  bottom: 0;
 
}



.url {
   margin-left:173px;
   margin-bottom: 5px;
  }