.mainDiv {
    margin: 10px;
    height: 300px;
    width: 400px;
    padding: 10px;
   }

.nameDiv{
    
    padding: 10px;
    color: white;
    font-size: 17px;

}

.descDiv{
   
    padding: 10px;
    color: white;
   
}

.descText{
    margin-bottom: 0;
    color: white;
    font-size: 14px;
}

.linkDiv{
    
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;

}